
form textarea{
  resize: none;
  height: 105px;
}

form input[type="radio"]{
  margin: 15px 0;
}

form input[type="radio"]:not(:first-child){
  margin-left: 15px;
}

.projectStatus span{
  padding-left: 0.5em;
  font-size: 1.3em;
}

.projectStatus{
  margin-bottom: 1em;
}

.statusInput{
  border-radius: 100%;
  background: #e8e8e8;
  border: 3px solid #FFF;
  outline: 1px solid #a52a2a;
}